<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div id="reactiveForm">
    <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
        <h2>Form Validation</h2>
        <br>
        <span id="errorFirstName">{{errName}}</span>
        <input id=inputFirstname type="text" formControlName="user" placeholder="Firstname">
        <br> <br>
        <span id="errorGender">{{errGender}}</span>
        <div id="gender">
            <div *ngFor="let gender of genders">
                <div>
                    <input type="checkbox" formControlName="gender" >
                    <label for="male">{{gender}}</label>
                </div>
            </div>
        </div>
        <br>
        <span id="errorCountry">{{errCountry}}</span>
        <input type="text" list="country" placeholder="Country" formControlName="country" onfocus="this.value=''" onchange="this.blur();" [(ngModel)]="selectedCountry" (change)="countryChanged()" >
        <datalist id="country" >
            <option *ngFor="let country of countries"  value={{country}}></option>
        </datalist>
        <br> <br>
        <span id="errorCity">{{errCity}}</span>
        <input type="text" list="city" placeholder="City" formControlName="city" onfocus="this.value=''" onchange="this.blur();">
        <datalist id="city">
            <option *ngFor="let city of cities"  value={{city}}></option>
        </datalist>
        <br> <br>
        <span id="errorAge">{{errAge}}</span>
        <input type="text" id="inputAge" type="text" formControlName="age" placeholder="Age">
        <!-- <br> <br> -->
        <button type="submit">Form Submit</button>
    </form>
</div>